<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FXAlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D78025FF1CEC3F6F000B48B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D78026131CEC3F70000B48B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D780261E1CEC3F70000B48B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
